<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="myform" (ngSubmit)="register()">

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Enter your details and register
                </h5>

                <div class="form-outline mb-4">
                  <input type="text" id="form2Example17" placeholder="Enter Username"
                    class="form-control form-control-lg" formControlName="username" />
                  <label class="form-label" for="form2Example17">Username</label>
                </div>
                                  
                <div class="form-outline mb-4">
                  <input type="password" id="form2Example27" placeholder="Enter Password"
                    class="form-control form-control-lg" formControlName="password" />
                  <label class="form-label" for="form2Example27">Password</label>
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" type="submit">Sign up</button>
                </div>


                <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account?<button class="btn btn-dark btn-lg btn-block" routerLink="/logout"
                    style="color: #ffffff;">Sign in</button></p>

              </form>
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>