<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn">
    <a class="navbar-brand" routerLink="/home">PollutionCheck App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="form-inline my-2 ">
          <a class="nav-link" routerLink="/dashboard" >Dashboard </a>
        </li>
     
    
        <li class="form-inline my-2 ">
          <a class="nav-link " routerLink="/watch"> Watchlist</a>
        </li>

        <li class="form-inline my-2 "  style ="margin-left: 18cm; ">
          
          <!-- <a class = "nav-link" routerLink="/logout">Logout</a> -->
          <a (click)="logouts()" class = "nav-link" routerLink="/logout" >Logout</a>
        </li>
        
      </ul>
      
    </div>
  </nav>
  
  <div>
      
  </div>
 
  