.gradient-custom {
    /* fallback for old browsers */
    background: #112dcb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(10, 240, 133, 0), rgba(37, 94, 252, 0));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(3, 38, 238, 0), rgba(219, 104, 28, 0))
    }